<h1>All users</h1>

<dir-pagination-controls on-page-change="ctrl.getUsersPage(newPageNumber)"></dir-pagination-controls>

<ul class="users">
  <li dir-paginate="user in ctrl.users | itemsPerPage: ctrl.usersPerPage" total-items="ctrl.totalUsers"
      current-page="ctrl.pagination.current">
    <a ng-href="#/users/{{user.id}}">{{user.name}}</a> ({{user.email}})
    <span ng-if="ctrl.userIsAdmin()">
       | <a href="" ng-click="ctrl.deleteUser(user)" at-confirm="ctrl.CONFIRM">delete</a>
    </span>
  </li>
</ul>

<dir-pagination-controls></dir-pagination-controls>
