<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        {{ctrl.user.name}}
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    <h3>Microposts ({{ ctrl.user.microposts_count }})</h3>

    <dir-pagination-controls on-page-change="ctrl.getMicropostsPage(newPageNumber)">
    </dir-pagination-controls>
    <ol class="microposts">
      <li id="micropost-{{ micropost.id }}"
          dir-paginate="micropost in ctrl.micropostPage.microposts | itemsPerPage: ctrl.micropostPage.itemsPerPage"
          total-items="ctrl.micropostPage.totalItems" current-page="ctrl.micropostPage.page">
        <at-micropost micropost="micropost" user="ctrl.user"/>
      </li>
    </ol>
    <dir-pagination-controls></dir-pagination-controls>
  </div>
</div>
